{% extends "layout.html" %}

{% block main_content %}


<form class="form" method="POST">
    <textarea class="form__input"  name="habit" id="habit" rows="3" placeholder="Add a new habit"></textarea>
    <select class ="dropdown" name="frequency" id="frequency">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="weekdays">Weekdays (Mon-Fri)</option>


    </select>
    <input type="hidden" id="date" name="date" value="{{ selected_date }}" />
    <button class="form__button" type="submit">Add</button>
</form>

{% endblock %}
