<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block head_content %} {% endblock %}
    </head>
    
    <body>
        <header class="header">
            <h1 class="header__logo">
            <a href="{{ url_for('habits.index') }}" class="header__link">Daily Habits</a>
            </h1>
            {% if "add" not in request.endpoint %}
            <div class="container">

            <a href="{{ url_for('habits.add_habit', date=selected_date.strftime('%Y-%m-%d')) }}" class ="headernew__link">+Add new</a>
            <a href="{{ url_for('habits.delete_habit_index') }}" class ="header__link">-Delete</a>
            </div>

            {% endif %}
        </header>

        <main class="main">
        <section class="dates">

            <!-- if the date is the current date, ie if loop.index0 is 3 then add the class dates__link--current -->
            {% for date in date_range(selected_date) %}

            <a class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else '' }}"
                href="{{ url_for('habits.index', date=date.strftime('%Y-%m-%d')) }}" >
                <time class="date" datetime="{{ date }}">
                    <span>{{ date.strftime("%a") }}</span>
                    <span>{{ date.strftime("%d") }}</span>
                </time>

            </a>

            {% endfor %}
        </section>
            {% if all_habits_completed %}
                <p class="well-done">Well done! You completed all your daily habits.</p>
            {% endif %}

            {% block main_content %}
            {% endblock %}
        </main>
    </body>
</html>
